.mainPage {
    font-size: 20px;
    text-align: center;
}

#content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 10px;
    max-width: 960px;
    margin: 0 auto;
    grid-template-areas:
            "title title title title"
            "tabs tabs tabs tabs"
            "contents contents contents contents"
            "text text text text"
            "audio audio audio audio"
            "menu menu menu menu";
}
@media screen and (min-width: 760px){
    #content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
        max-width: 100%;
        margin: 0 auto;
        grid-template-areas:
                "title title title title"
                "tabs tabs tabs tabs"
                "contents contents contents menu"
                "text text text menu"
                "audio audio audio menu";
    }
}
#content > *{
    background: lightblue;
    padding: 30px;
    /*
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    */
}
.title{
    grid-area: title;
    align-content: center;
}

.tabs{
    grid-area: tabs;
    align-content: center;
}
#randomElement {
    grid-area: contents;
    align-content: center;
}
.menu{
    grid-area: menu;
    align-content: center;
}
.audio{
    grid-area: audio;
    align-content: center;
}
.text{
    grid-area: text;
    align-content: center;
}